:root {
  --white: 255,255,255;
  --black: 0,0,0;
  --background:#1e1d2c;
  --margin-sm: .6rem;
  --padding-sm: .4rem;
  --padding-md: 1rem;

}
* {
  box-sizing:border-box;
}
body {
  margin: 0;
  background:var(--background);
  font-family: sans-serif;
  overflow-x:hidden;
  word-wrap:break-word;
  font-size:16px;
  line-height:1.7rem;
}

input {
  width: 600px;
  font-size:1.12rem;
  background:rgb(var(--white));
  transform:translateY(-2rem);
  padding:1rem .8rem;
  border-radius:.6rem;
  border:1px solid rgba(var(--black),.2);
}

a {
  color:rgba(var(--black),.8);
  text-decoration:none;
}

::placeholder {
  font-size:1.12rem;
}
.gif-result {
  width:100%;
  height:100%;
}

header {
  position:relative;
  overflow:hidden;
  width:100vw;
  height:40vh;
  color:rgb(var(--white));
  background-size:cover;
  background-position:center center;
}

header:before {
  content:'';
  position:absolute;
  width:100%;
  height:100%;
  background:rgba(var(--black),.6);
}

header :where(p, h1) {
  width:100%;
  text-align:center;
  z-index:9
}

main {
  max-width:85vw;
  margin:5vh auto;
  width:100%;
  flex-direction:column;
  display:flex;
}

article {
  width:600px;
  margin:5vh auto 10vh auto;
  position:relative;
  object-fit:cover;
  background:rgb(var(--white))
}
.text-center {
  text-align:center;
}
.flex {
  display:flex;
  flex-wrap:wrap;
}

.flex-center {
  align-items:center;
  justify-content:center;
  align-content:center;
}

.align-center {
  align-items:center;
}
.justify-between {
  justify-content:space-between;
}
.rounded {
  border-radius:.6rem;
}

main section {
  background:rgb(var(--white));
  max-width:600px;
  padding: var(--padding-md);
  margin: auto;
}

img {
  max-width:100%;
}

.search-results {
  background:rgb(var(--white));
  padding: 0 var(--padding-md);
  border-radius: var(--padding-sm);
  max-width:600px;
  margin:auto;
}

.search-results span {
  background: #eee;
  padding: var(--padding-sm);
  border-radius: var(--padding-sm);
  border:1px solid rgba(var(--black),.08)
}
.avatar, .reblog-header img {
  max-height:30px;
  margin-right:var(--margin-sm)
}

.caption, .reblog-header, .tags, .info {
  padding:var(--padding-md);
  border-bottom:1px solid rgba(var(--black),.2)
}

.tags button {
  background: rgba(var(--black),.08);
  border: 0;
  padding: var(--padding-sm);
  border-radius: var(--padding-sm);
  display:inline-block;
  font-size:16px;
  margin: var(--padding-sm)
}

.info .fa {
  margin-right: var(--padding-sm)
}

.ask {
 
  padding: var(--padding-md) 0 0 0;
}
.questions {
  margin: var(--padding-md);
}
.question {
  margin-top:var(--padding-md);
  border-radius:var(--padding-md);
  border-top-left-radius:0;
  padding:var(--padding-md);
  background:rgba(var(--black),.08);
}

.loading {
  animation: loading 1s 1;
}

@keyframes loading {
    0% {
        opacity:0;
    }

    100% {
      opacity:1;
    }
}

.pagination {
  margin:auto;
  background:rgba(var(--white),.8);
  padding: var(--padding-md);
  border-radius:30px;
  border:0;

}

iframe, video, embed {
  max-width:100%;
}

button {
  cursor:pointer;
}

.caption a {
  border-bottom:1px solid skyblue;
}

.tags button:not(:nth-of-type(1), :nth-of-type(2), :nth-of-type(3), :nth-of-type(4), :nth-of-type(5)) {
  opacity:.6;
  cursor:none;
}
