:root {
  --white: 255, 255, 255;
  --black: 0, 0, 0;
  --background: #f5f5f5;
  --margin-sm: 0.6rem;
  --padding-sm: 0.4rem;
  --padding-md: 1rem;
  --padding-lg: 1.4rem;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: var(--background);
  font-family: Helvetica, sans-serif;
  overflow-x: hidden;
  word-wrap: break-word;
  font-size: 18px;
  line-height: 1.5;
}

input {
  width: 540px;
  font-size: 20px;
  background: rgb(var(--white));
  transform: translateY(-2rem);
  padding: 1.2rem 1rem;
  border-radius: 0.6rem;
  border: 1px solid rgba(var(--black), 0.2);
}

a {
  color: rgba(var(--black), 0.8);
  text-decoration: none;
}

::placeholder {
  font-size: 1.12rem;
}

.gif-result {
  width: 100%;
  height: 100%;
}

header {
  position: relative;
  overflow: hidden;
  width: 100vw;
  height: 40vh;
  color: rgb(var(--white));
  background-size: cover;
  background: #001935;
  background-position: center center;
}

header:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(var(--black), 0.2);
}

header :where(p, h1) {
  width: 100%;
  text-align: center;
  z-index: 9;
  margin: var(--padding-md);
}

header p {
  margin: var(--padding-sm);
}

main {
  max-width: 85vw;
  margin: 5vh auto;
  width: 100%;
  flex-direction: column;
  display: flex;
}

article {
  width: 540px;
  margin: 5vh auto 10vh auto;
  position: relative;
  object-fit: cover;
  background: rgb(var(--white));
  border: 1px solid rgba(var(--black), 0.12);
}

.text-center {
  text-align: center;
}

.flex {
  display: flex;
  flex-wrap: wrap;
}

.flex-center {
  align-items: center;
  justify-content: center;
  align-content: center;
}

.align-center {
  align-items: center;
}

.justify-between {
  justify-content: space-between;
}

.rounded {
  border-radius: 0.6rem;
}

img {
  max-width: 100%;
}

.search-results {
  background: rgb(var(--white));
  padding: 0 var(--padding-md);
  border-radius: var(--padding-sm);
  max-width: 540px;
  margin: auto;
  border: 1px solid rgba(var(--black), 0.12);
}

.search-results span {
  background: #eee;
  padding: var(--padding-sm);
  border-radius: var(--padding-sm);
  border: 1px solid rgba(var(--black), 0.08);
}

.avatar,
.reblog-header img {
  max-height: 30px;
  margin-right: var(--margin-sm);
}


.caption {
  padding: var(--padding-lg);
  border-bottom: 1px solid rgba(var(--black), 0.12);
}


.info {
  padding: var(--padding-md) var(--padding-lg) var(--padding-sm)
}

.tags {
  border: 0;
  padding: var(--padding-sm) var(--padding-lg);
}

.reblog-header {
  padding: var(--padding-md) var(--padding-lg);
  border-bottom: 1px solid rgba(var(--black), 0.12);
}

.tags button {
  background: rgba(var(--black), 0);
  border: 0;
  color: rgba(var(--black), .8);
  padding: 0 var(--padding-sm);
  border-radius: var(--padding-sm);
  display: inline;
  white-space: normal;
  font-size: 16px;
  margin: .4rem var(--padding-sm) .4rem 0;
  margin-left: calc(-1 * var(--padding-sm));
}


.tags button:before {
  content: '#'
}



.tags button:hover {
  background: rgba(var(--black), 0.08);
}

.tags .fa {
  font-size: 1rem
}

.info .fa {
  margin-right: var(--padding-sm);
}

.ask {
  padding: var(--padding-md) 0 0 0;
}

.questions {
  margin: var(--padding-md);
}

.question {
  margin-top: var(--padding-md);
  border-radius: var(--padding-md);
  border-top-left-radius: 0;
  padding: var(--padding-md);
  background: rgba(var(--black), 0.08);
}

.loading {
  animation: loading 1s 1;
}

@keyframes loading {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.pagination {
  margin: auto;
  background: rgba(var(--white), 0.8);
  padding: var(--padding-md);
  border-radius: 30px;
  border: 0;
  font-size: 16px;
  border: 1px solid rgba(var(--black), 0.08);
}

iframe,
video,
embed {
  max-width: 100%;
}

.videos video,
.videos iframe {
  width: 100%;
}

.tumblr_audio_player {
  height: 100px;
}

button {
  cursor: pointer;
}

.caption a,
.content-source a {
  border-bottom: 1px solid skyblue;
}

.tags button:not(:nth-of-type(1), :nth-of-type(2), :nth-of-type(3), :nth-of-type(4), :nth-of-type(5)) {
  opacity: 0.4;
  cursor: auto;
}

.content-source {
  opacity: .8;
  padding-left: var(--padding-lg);
}


p:empty,
h2:empty {
  display: none;
}

h2 {
  margin: 0 auto;
}

blockquote {
  margin-left: var(--padding-md);
  padding-left: var(--padding-md);
  border-left: 2px solid rgba(var(--black), 0.12);
}

.key {
  background-color: #eee;
  border-radius: 3px;
  border: 1px solid #b4b4b4;
  box-shadow: 0 1px 1px rgba(0, 0, 0, .2), 0 2px 0 0 rgba(255, 255, 255, .7) inset;
  color: #333;
  display: inline-block;
  font-size: .88em;
  font-weight: 700;
  line-height: 1;
  padding: 2px 4px;
  white-space: nowrap;
}

.link-container {
  max-width: 100%;
  position: relative;
  height: 300px;
  border-radius: var(--padding-sm);
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  color: rgb(var(--white));
  justify-content: center;
}

.link-container:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, rgba(var(--black), .4), rgba(var(--black), .6))
}

.link-container img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.link-container div {
  position: absolute;
  text-align: center;
  padding: var(--padding-lg);
  margin: var(--padding-md);
}